<div class="w-full p-4">
    <div class="text-4xl font-semibold tracking-tight leading-8">Capacidad de servicio colision</div>
    <!--<div class="font-medium tracking-tight text-secondary">Monitor metrics, check reports and review performance</div>-->
    
    <div class="w-full mt-6 grid grid-cols-1 sm:grid-cols-2 gap-2">
        <div class="w-full">
            <div class="bg-card shadow rounded-lg p-4 w-full">

                <div>
                    <div class="w-full mb-1">
                        <div class="text-2xl font-semibold tracking-tight leading-6">Seleccionar empresa</div>
                    </div>

                    <div class="w-full" *ngIf="user?.admin==1">
                        <form [formGroup]="seccionForm" class="grid grid-cols-1 md:grid-cols-4 gap-2">
                            <mat-form-field class="w-full mt-2">
                                <mat-select placeholder="Región" [formControlName]="'region'">
                                    <mat-option *ngFor="let region of regionesDisponibles" [value]="region">
                                      {{region}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="w-full mt-2">
                                <mat-select  placeholder="Zona" matInput [formControlName]="'zona'">
                                    <mat-option *ngFor="let zona of zonasDisponibles" [value]="zona">
                                        {{zona}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="w-full mt-2">
                                <mat-select placeholder="Sociedad" matInput [formControlName]="'sociedad'">
                                    <mat-option *ngFor="let sociedad of sociedadesDisponibles" [value]="sociedad">
                                      {{sociedad}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="w-full mt-2">
                                <mat-select placeholder="Sede" matInput [formControlName]="'sede'">
                                    <mat-option *ngFor="let sede of sedesDisponibles" [value]="sede">
                                      {{sede}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </form>
                    </div>
                </div>

                <div class="w-full mb-6">
                    <div class="text-2xl font-semibold tracking-tight leading-6">Inputs</div>
                    <div class="font-medium tracking-tight text-secondary">Ingresa los valores solicitados</div>
                </div>
    
                    <form [formGroup]="mecanicaForm" class="grid grid-cols-1 md:grid-cols-2 gap-2">
                        <mat-form-field appearance="outline" class="w-full -mt-3">
                            <mat-label>Pulmones por puesto trabajo</mat-label>
                            <input type="number" matInput [formControlName]="'pul_por_pue_tra'">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-full -mt-3">
                            <mat-label>Pulmones</mat-label>
                            <input type="number" matInput [formControlName]="'pulmones'">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-full -mt-3">
                            <mat-label>Entradas promedio taller (6 Meses)</mat-label>
                            <input type="number" matInput [formControlName]="'ent_pro_tal'">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-full -mt-3">
                            <mat-label>Total Horas Facturadas</mat-label>
                            <input type="number" matInput [formControlName]="'tot_hor_fac'">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-full -mt-3">
                            <mat-label>Total Horas Trabajadas</mat-label>
                            <input type="number" matInput [formControlName]="'tot_hor_tra'">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-full -mt-3">
                            <mat-label>Total Horas disponibles</mat-label>
                            <input type="number" matInput [formControlName]="'tot_hor_dis'">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-full -mt-3">
                            <mat-label>Horas habiles - Ley</mat-label>
                            <input type="number" matInput [formControlName]="'hor_hab_ley'">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-full -mt-3">
                            <mat-label>Tiempo productivo (habil - muerto)</mat-label>
                            <input type="number" matInput [formControlName]="'tie_pro'">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-full -mt-3">
                            <mat-label>Promedio horas facturacion por entrada</mat-label>
                            <input type="number" matInput [formControlName]="'pro_hor_fac_por_ent'">
                        </mat-form-field>
                    </form>

                    <div class="w-full mb-4">
                        <div class="text-2xl font-semibold tracking-tight leading-6">Lista de puestos de trabajo</div>
                        <!--<div class="font-medium tracking-tight text-secondary">Valores calculados automáticamente</div>-->
                    </div>
        
                    <form [formGroup]="puestosTrabajoForm">

                        <div class="grid grid-cols-1 md:grid-cols-2 gap-2 -mt-3">
                            <mat-form-field appearance="outline" class="w-full">
                                <mat-label>Puesto desarmado def marca</mat-label>
                                <input type="number" matInput [formControlName]="'ej_puesto_desarmado'">
                            </mat-form-field>
    
                            <mat-form-field appearance="outline" class="w-full">
                                <mat-label>Puesto desarmado def con</mat-label>
                                <input type="number" matInput [formControlName]="'tec_puesto_desarmado'">
                            </mat-form-field>
                        </div>
        
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-2 -mt-3">
                            <mat-form-field appearance="outline" class="w-full">
                                <mat-label>Puesto latonería def marca</mat-label>
                                <input type="number" matInput [formControlName]="'ej_puesto_latoneria'">
                            </mat-form-field>
    
                            <mat-form-field appearance="outline" class="w-full">
                                <mat-label>Puesto latonería def con</mat-label>
                                <input type="number" matInput [formControlName]="'tec_puesto_latoneria'">
                            </mat-form-field>
                        </div>
        
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-2 -mt-3">
                            <mat-form-field appearance="outline" class="w-full">
                                <mat-label>Puesto preparación def marca</mat-label>
                                <input type="number" matInput [formControlName]="'ej_puesto_preparacion'">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="w-full">
                                <mat-label>Puesto preparación def con</mat-label>
                                <input type="number" matInput [formControlName]="'tec_puesto_preparacion'">
                            </mat-form-field>                            
                        </div>
        
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-2 -mt-3">
                            <mat-form-field appearance="outline" class="w-full">
                                <mat-label>Cabina pintura def marca</mat-label>
                                <input type="number" matInput [formControlName]="'ej_cabina_pintura'">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="w-full">
                                <mat-label>Cabina pintura def con</mat-label>
                                <input type="number" matInput [formControlName]="'tec_cabina_pintura'">
                            </mat-form-field>                            
                        </div>

                        <div class="grid grid-cols-1 md:grid-cols-2 gap-2 -mt-3">
                            <mat-form-field appearance="outline" class="w-full">
                                <mat-label>Puesto armado def marca</mat-label>
                                <input type="number" matInput [formControlName]="'ej_cabina_pintura'">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="w-full">
                                <mat-label>Puesto armado def con</mat-label>
                                <input type="number" matInput [formControlName]="'tec_cabina_pintura'">
                            </mat-form-field>                            
                        </div>
    
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-2 -mt-3">
                            <mat-form-field appearance="outline" class="w-full">
                                <mat-label>Puesto brillado def marca</mat-label>
                                <input type="number" matInput [formControlName]="'ej_puesto_brillado'">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="w-full">
                                <mat-label>Puesto brillado def con</mat-label>
                                <input type="number" matInput [formControlName]="'tec_puesto_brillado'">
                            </mat-form-field>                            
                        </div>

                    </form>
    
                <div class="flex justify-end">
                    <button mat-button class="bg-black text-white" (click)="recalcular()">Generar</button>
                </div>
            </div>

            
        </div>
        <div class="relative bg-card shadow w-full rounded-2xl p-4">

            <button mat-button class="absolute top-0 right-0 mr-4 mt-4 bg-black text-white">
                <span>Guardar</span>
            </button>

            <div class="w-full mb-4">
                <div class="text-2xl font-semibold tracking-tight leading-6">Resultados</div>
                <div class="font-medium tracking-tight text-secondary">Valores calculados automáticamente</div>
            </div>

            <div class="w-full">
                <table mat-table [dataSource]="dataColision" class="w-full -mx-3">

                    <ng-container matColumnDef="datos-generales">
                        <th mat-header-cell *matHeaderCellDef> Datos generales. </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="flex">
                                <mat-icon [svgIcon]="'heroicons_outline:cog'" class="icon-size-5 mr-1"></mat-icon>
                                <span>{{element?.datosGenerales}}</span>                                
                            </div>
                        </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="indicador">
                      <th mat-header-cell *matHeaderCellDef class="text-right"> Indicador </th>
                      <td mat-cell *matCellDef="let element" class="text-right">
                        <span [matTooltip]="element?.labelFormula" class="bg-zinc-300 text-zinc-800 px-2 rounded-xl cursor-pointer">
                            {{element?.indicador?.toFixed(2)}}
                        </span>
                    </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
            </div>
        </div>


    </div>
</div>