/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

.bg-renault-1{
    background-color:#000000 !important;
}

.bg-renault-2{
    background-color:#EFDF00 !important;
}

.bg-renault-2{
    background-color:#EFDF00 !important;
}

.bg-renault-3{
    background-color:#888B8D !important;
}

.bg-renault-4{
    background-color:#D9D9D6 !important;
}

.fuse-vertical-navigation-item{
    color: #EFDF00 !important;
}